<div class="page-text">
  <h2>Professional Background</h2>
  <p>I earned two college degrees from Webster University in 2019: a <a href="https://www.webster.edu/catalog/current/undergraduate-catalog/majors/computer-science.html" target="_blank">BSc. Computer Science</a> and a <a href="https://www.webster.edu/catalog/current/undergraduate-catalog/majors/finance.html" target="_blank">Bsc. Finance</a>. My work experience consists of several internships and on-campus jobs. You can read about the details of my professional background in my resume attached on this page.</p>

  <p>If you would, please connect with me on LinkedIn and GitHub. &nbsp;
      <a href="https://www.linkedin.com/in/dimitrije-mitic-b38213149/" target="_blank"><img [src]="'../../../assets/linkedin.png'" class="pngs"></a>
      &nbsp;
      <a href="https://github.com/dmitic29" target="_blank"><img [src]="'../../../assets/GitHub-Mark.png'" class="pngs"></a>
    </p>
    <p>Email me at <a href="mailto:dimitrije.mitic29@gmail.com" target="_blank">dimitrije.mitic29@gmail.com</a>.</p>
  <p>
    The resume displayed below can be downloaded <a [href]="pdfSrc" download>here</a>.
  </p>

  <div class="pdf-preview">
    <pdf-viewer [src]="pdfSrc"
    [render-text]="true"
    [original-size]="false"
    style="display: block;"
  ></pdf-viewer>
  </div>
</div>
