<div class="page-text">
  <h2>Brief History</h2>
  <p>I was born in Belgrade, Serbia where I grew up and spent the first 19 years of my life. Growing up I participated in many extracurricular activities including playing the violin, rowing crew, track and field, learining French, and more.<br>
  As a high school student I spent lots of time building and fixing computers in my godfather's shop. I also dedicated quite some time to my hobby - making music. You can listen to one of the songs I made in the embedded SoundCloud window at the bottom of the page.
  </p>
  <h2>College</h2>
  <p>
    In 2015, I started my bachelor's degree at Webster University in the Netherlands (satellite campus). Initially, my degree was Business Administration, but I quickly realized that I would prefer to pursue a more challenging academic path.<br>   In my sophomore year I moved to Webster University's main campus in Saint Louis, MO in the United States and changed my major to Finance with a minor in Computer Science. It turned out that Computer Science was far more interesting than I initially expected, so in 2018 I converted my minor in Computer Science into a second major. After moving to Saint Louis, MO, I also became a member of the varsity track and field team, and a student-worker for the Housing Department of the university.
  </p>
  <p class="image-para">
    <img class="home-image" [src]="'../../../assets/kdrow.jpg'" height="235px" width="235px">
    <img class="home-image" [src]="'../../../assets/violinist.jpg'" height="235px" width="235px">
    <img class="home-image" [src]="'../../../assets/hsjav.jpg'" height="235px" width="235px">
    <div>
      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/198568401&color=%2315b066&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
</div>
