<div class="page-text">
  <h2>Hello!</h2>
  <p>Thank you for visiting my personal website!
  My name is Dimitrije Mitic and I am a recent college graduate from Webster University, Class of 2019.I currently live in the Washington, D.C. area and am starting a career in software engineering.
  </p>
  <h2>Recent Background</h2>
  <p>
    In college I pursued a degree in Computer Science and a degree in Finance. Additionally, I was a memeber of the varsity track and field team for three years where I competed in the javelin throw and shot put. I am the school record holder in both the javelin throw and indoor shot put.<br>
    During my academic career I received several athletic and academic honors including the Dean's List recognition, the
    <a href="https://tinyurl.com/v6c533z" target="_blank">Google Cloud All-Distric Honors</a>,
    and the All-Conference recognition.
    I graduated in December of 2019, completing both of my degrees with a cumulative GPA of 3.81.
  </p>
  <p class="image-para"><img class="home-image" [src]="'../../../assets/deansl.jpg'" height="300px" width="400px">
     <img class="home-image" [src]="'../../../assets/shot.jpg'" height="300px" width="300px">
  </p>
  <p class="image-para">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/kVhtQalapwM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p>
</div>
