  <div style="text-align:center">
    <mat-toolbar class="toolbar">
      <p><img [src]="'./assets/dmlogo.png'" height="100px" width="100px"></p>
      <h1>Personal Website of {{ title }}</h1>
      <h6 id="madebyme">Designed and Developed by Dimitrije Mitic</h6>
    </mat-toolbar>
  </div>

    <mat-sidenav-container class="side-container">
      <mat-sidenav class="side-sidenav" #sidenav mode="side" [(opened)]="opened">
        <a routerLink="/home"><div routerLinkActive="selected-link">Home</div></a>
        <a routerLink="/about"><div routerLinkActive="selected-link">About Me</div></a>
        <a routerLink="/work"><div routerLinkActive="selected-link">Work</div></a>
        <a routerLink="/photos"><div routerLinkActive="selected-link">Personal Gallery</div></a>
        <p id="copyright">
          &copy; 2020 Dimitrije Mitic
        </p>
      </mat-sidenav>
      <mat-sidenav-content class="side-content">
        <button class="menu-button" mat-flat-button (click)="menuOpen()">{{buttonIcon}}</button>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>




